
.container{
    padding: 0 20px ;
    width: 100%;
    max-width: 1800px ;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.Wrapper{
    margin-top: 30px;
}











